<%- include("header"); -%>
<h2>Wah Wah</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dicta temporibus harum saepe digniss
    imos omnis praesentium consequuntur tempora nam ipsam cumque nobis veritatis velit, 
    odio doloremque pariatur eligendi. Id, animi?
</p>
<%- include("footer"); -%>